<% article.comments.each_with_index do |comment, i| %>
  <div class="comment-container
    <%= 'grey-comment' if i.even? %>">
    <div class="commenter-container">
      <p>
        <strong><%= comment.commenter %></strong>
      </p>
      <p>
        <%= comment.created_at.to_date %>
      </p>
    </div>

    <p class="comment-body">
      <%= comment.body %>
    </p>

    <p>
      <%= link_to 'Delete Comment', [comment.article, comment],
       method: :delete,
       data: { confirm: "Are you sure?" },
       class: "delete-link plain-link" %>
    </p>
  </div>
<% end %>
